    body { background-color: yellow;  }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
      }
      textarea {
        display: block;
        width: 100%;
      
      }
      input {
        height: 36px;
        font-size: 24px;
        display: block; 
      }
      textarea {
        height: 200px;
        font-size: 20px;
      }
    h1 {
      text-align: center; 
    }